---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Discounts are better with friends!</title>
	</head>
	<body>
		<section id="hero">
			<p class="connected">
				friends online: <span class="connection-count">1</span>
			</p>

			<div id="locked-section">
				<h1>Discounts are better with friends!</h1>
				<p>
					You and at least 3 friends (4 people or more) need to click and hold
					down on the treasure chest below at the same time on different devices
					to unlock the discount.
				</p>
				<button id="collab">0%</button>
			</div>

			<div id="unlocked-section" class="hidden">
				<h1>You did it!</h1>
				<p>
					This discount code will get you 50% off your purchase of a rubber
					corgi duck in the Learn With Jason store.
				</p>
				<p>
					<code id="discount-code"></code>
				</p>
				<p>
					<a
						href="https://learn-with-jason.myshopify.com/products/rainbow-corgi-toy"
						target="_blank">claim your discount in the store</a
					>
				</p>
			</div>
		</section>

		<!-- <pre id="debug"></pre> -->
	</body>
</html>

<script>
	import PartySocket from 'partysocket';

	// @ts-ignore
	import confetti from 'canvas-confetti';

	const partySocket = new PartySocket({
		host: import.meta.env.PUBLIC_PARTYKIT_URL,
		room: '4d1a',
	});

	const lockedSection = document.getElementById('locked-section')!;
	const unlockedSection = document.getElementById('unlocked-section')!;
	const btn = document.getElementById('collab')!;
	const discountCode = document.getElementById('discount-code')!;
	// const debug = document.getElementById('debug')!;

	const MAX_AMOUNT_PER_PERSON = 25;
	const INTERVAL_SIZE = 5_000 / MAX_AMOUNT_PER_PERSON;

	let holding: number;
	let localAmount: number = 0;

	let canvas = document.createElement('canvas');
	document.body.appendChild(canvas);

	btn.style.setProperty('--speed', `${INTERVAL_SIZE - 10}ms`);

	function getAmountWithinBounds(amount: number) {
		return Math.max(Math.min(amount, MAX_AMOUNT_PER_PERSON), 0);
	}

	function updatePropertyPct(amount: number) {
		clearInterval(holding);

		const interval = amount > 0 ? INTERVAL_SIZE : INTERVAL_SIZE * 2;

		holding = setInterval(() => {
			localAmount = getAmountWithinBounds(localAmount + amount);

			if (
				(localAmount === 0 && amount === -1) ||
				(localAmount === MAX_AMOUNT_PER_PERSON && amount === 1)
			) {
				clearInterval(holding);
			}

			// tell other connected clients to update their own amounts
			partySocket.send(
				JSON.stringify({
					type: 'button-hold',
					amount,
				}),
			);
		}, interval);
	}

	btn.addEventListener('mousedown', () => {
		updatePropertyPct(1);
	});

	btn.addEventListener('touchstart', (e) => {
		e.preventDefault();
		updatePropertyPct(1);
	});

	btn.addEventListener('mouseup', (e) => {
		updatePropertyPct(-1);
	});

	btn.addEventListener('touchend', (e) => {
		e.preventDefault();
		updatePropertyPct(-1);
	});

	partySocket.addEventListener('message', (e) => {
		const counter = document.querySelector('.connection-count') as HTMLElement;
		const msg = JSON.parse(e.data);

		// debug.innerText = JSON.stringify(msg, null, 2);

		if (msg.type === 'button-hold') {
			let percent = 0;
			for (const [_, pct] of msg.unlocks) {
				percent += pct;
			}

			btn.style.setProperty('--pct', `${percent}%`);
			btn.innerText = `${percent}%`;
		}

		if (msg.type === 'unlock') {
			lockedSection.classList.add('hidden');
			unlockedSection.classList.remove('hidden');
			discountCode.innerText = msg.code;

			confetti({
				disableForReducedMotion: true,
			});
		}

		if (msg.count) {
			counter.innerText = msg.count;
		}
	});
</script>

<style is:global>
	* {
		box-sizing: border-box;
	}

	html {
		color: oklch(0.4 0.025 0);
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol';
		line-height: 1.45;
	}

	body {
		margin: 0;
	}
</style>

<style>
	@property --pct {
		inherits: true;
		initial-value: 0%;
		syntax: '<percentage>';
	}

	@property --speed {
		inherits: true;
		initial-value: 200ms;
		syntax: '<time>';
	}

	@keyframes bump {
		0% {
			rotate: 0deg;
		}
		15% {
			rotate: 2deg;
			top: 2%;
		}
		40% {
			rotate: -4deg;
			top: -7%;
		}
		50% {
			rotate: -2deg;
			top: -9%;
		}
		80% {
			rotate: -1deg;
			top: -5%;
		}
		90% {
			rotate: 1deg;
			top: 2%;
		}
		100% {
			rotate: 0deg;
			top: 0;
		}
	}

	#hero {
		display: flex;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, 3rem);
		place-content: center;
		background: oklch(95.76% 0.0051 192.71);
		height: 100dvh;
		position: relative;
	}

	.connected {
		background: oklch(0.9 0.025 0 / 0.75);
		border: 1px solid oklch(0.85 0.025 0 / 0.75);
		border-radius: 2rem;
		color: oklch(0.4 0.2 0 / 0.95);
		font-size: 0.625rem;
		inset-block-start: 1rem;
		inset-inline-end: 1rem;
		letter-spacing: 0.15em;
		padding: 0.5rem 1rem;
		position: absolute;
		text-transform: uppercase;
		font-variant-numeric: tabular-nums;
	}

	#locked-section,
	#unlocked-section {
		display: flex;
		flex-direction: column;
		margin: 2rem;
		place-content: center;
		text-align: center;
		text-wrap: balance;
		width: 65ch;

		&.hidden {
			display: none;
		}

		& h1 {
			color: oklch(0.25 0.01 0);
			font-size: 2rem;
			font-weight: 900;
			line-height: 1.1;
			margin: 0;
		}

		& p {
			margin-block: 1rem 0;
		}

		& code {
			font-family: 'SF Mono', monospace;
			font-size: 1.5rem;
		}
	}

	#collab {
		background:
			linear-gradient(to bottom in oklch, oklch(0.9 0.025 0 / 0.75) 0 0)
				padding-box,
			conic-gradient(
					from 0deg in oklch,
					oklch(0.85 0.37 0) 0%,
					oklch(0.85 0.37 50) var(--pct),
					oklch(0.85 0.37 50 / 0) var(--pct)
				)
				border-box;
		border: 0.5rem solid transparent;
		border-radius: 50%;
		display: block;
		height: 100px;
		margin-block-start: 2rem;
		margin-inline: auto;
		position: relative;
		transition: --pct var(--speed) linear;
		width: 100px;

		@media (min-width: 500px) {
			height: 200px;
			width: 200px;
		}

		&::after {
			content: '';
			background-image: url('https://res.cloudinary.com/jlengstorf/image/upload/f_auto,q_auto/v1704333347/4d1a/partykit-multiplayer/treasure-chest.png');
			background-repeat: no-repeat;
			background-size: contain;
			inset: 0;
			position: absolute;
			z-index: 0;
		}

		&:active::after {
			animation: bump 1s ease-in-out infinite;
		}
	}
</style>
